@page "/"

<div class="title">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-9Sw41g09UxRNmJIjYWY6dDVcuQyEZIfvlQ&usqp=CAU" alt="Hoon LLC logo" style="margin-right: 20px; height: 80px; width: auto;">
    <h1>Welcome to Hoon LLC!</h1>
</div>

<div class="tagline">
    <h2>Experience the Magic of Hoon LLC Carousels!</h2>
</div>

<div class="UserPage">
    <button>
        <NavLink class="nav-link" href="users" Match="NavLinkMatch.All">
            Be A User
        </NavLink>
    </button>
</div>

<div class="carousel-container">
    <button class="explore-button">
        <NavLink class="nav-link" href="listings" Match="NavLinkMatch.All">
            Explore Items
        </NavLink>
    </button>
</div>


<div class="testimonials">
    <blockquote>
        "Hoon LLC's carousels brought joy to our events! Amazing craftsmanship and delightful designs."
        <cite>— Happy Customer</cite>
    </blockquote>
</div>