<EditForm Model="@profile" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
    <div class="form-group">
        <label>Name:</label>
        <div>
            <InputText @bind-Value="@profile.ProfileBio" class="form-control" />
            <ValidationMessage For="@(() => profile.ProfileBio)" />
        </div>
    </div>
    </fieldset>
    @if(!Disabled)
    {
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    }
    <BackToList Target="profiles" />
</EditForm>
@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Profile? profile { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}