@page "/categories/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
<h3 class=" card.title"> Create New Categories</h3>
<hr />
<br />

<EditForm Model="@category" OnValidSubmit="CreateNewCategory">
	<DataAnnotationsValidator />
	<ValidationSummary />
	<div class="form-group">
		<label> Category: </label>
		<div>
			<div>
				<InputText @bind-Value="@category.Name" class="form-control" />
					<ValidationMessage For="@(() => category.Name)" />
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success btn-block">
		Create Category
	</button>
</EditForm>

@code {
	Category category = new Category();

	private async Task CreateNewCategory()
	{
		await _client.PostAsJsonAsync(Endpoints.CategoriesEndpoint, category);
		_navManager.NavigateTo("/categories/");
	}
}